name: Build

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - main

jobs:
  build:
    name: monaco-components
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
    - name: Use Crome
      uses: nanasess/setup-chromedriver@v2
    - name: Install
      shell: bash
      run: |
        npm ci
    - name: Lint
      shell: bash
      run: |
        npm run lint
    - name: Build
      shell: bash
      run: |
        npm run build
    - name: Test
      shell: bash
      run: |
        export DISPLAY=:99
        chromedriver --url-base=/wd/hub &
        sudo Xvfb -ac :99 -screen 0 1600x1200x24 > /dev/null 2>&1 &
        npm run test
